*/ {
    margin: 0;
    padding: 0;
    
}
.b1 {
    border-radius: 5px;
    text-align: center;
    
}
.b2 {
    min-height: calc(100vh - 190px - 50px);

}

.box {
    display: flex;
}
    
.box1 {
    width: 70%;

}
.box2 {
    width: 30%;
    
}

header {
    background-color: rgb(90, 188, 245);
    height: 80px;
    line-height: 80px;
    margin: 10px;

}
nav {
    background-color: rgb(232, 160, 221);
    height: 30px;
    line-height: 30px;
    margin: 10px;
}
footer {
    background-color: rgb(159, 243, 229);
    height: 80px;
    line-height: 80px;
    margin: 10px;
}
section {
    margin: 0, 5px, 10px, 10px;
    background-color: rgb(237, 237, 154);
    height: 60%;
}
article{
    margin: 0, 5px, 0, 10px;
    background-color: rgb(186, 137, 233);
    height: 40%;
}
aside {
    background-color: rgb(238, 177, 133);
    margin: 0, 5px, 10px, 10px;
}